@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');

body{
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
}

:root{
    --orange:orange;
    --aquablue:#05D4DF;
    --skyblue:skyblue;
    --lotus:#5D58EF;
}

.orange{
    color: var(--orangle);
}

.skyblue{
    color: var(--skyblue);
}

.aquablue{
    color: var(--aquablue);
}

.lotus{
    color: var(--lotus);
}


.btn-primary{
    background-color: var(--orange);
    padding: 10px 60px;
    color: var(--orange);
    font-size: 20px;
    font-weight: 600;
}

.logo-title{
    font-size: 32px;
    font-weight: bold;
    color: black;
}